*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #333;
	font-family: "Trebuchet MS";
}

table{
	width: 500px;
	color: white;
	font-size: 20px;
	margin: 20px auto;
}

td, th{
	padding: 5px;
	text-align: center;
}

@media (max-width: 1000px){
	table{
		font-size: 50px;
		width: 90%;
	}
}